nav.head {
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(20px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    color: white;
    margin: 0;
    padding: 0;
}

nav.head span {
    padding: 20px;
    border-color: 2px solid white;
    cursor: pointer;
}

nav.head button.search {
    border-radius: 40px;
    background-color: black;
}

nav.head button.user {
    padding: 0;
    background-color: black;
    border-radius: 25px;
}

nav.head button.join {
    background-color: rgb(19, 110, 222);
    border-radius: 5px;
}
nav.head button.join:hover {
    background-color: rgb(100,150,100);
    box-shadow: 0px 0px 5px 5px rgb(55, 114, 216);
}

nav.head .search img {
    border-radius: 10px;
    background-color: black;
}

nav.head .user img {
    border-radius: 55px;
}

footer {
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}

.container {
    display: flex;
    height: 750px;
    width: 100%;
    background: linear-gradient(to right, black 30%, rgb(19, 25, 206));
    background-size: cover;
}

.container .d1 {
    display: flex;
    width: 50%;
    margin-left: 50px;
    color: white;
}

.container .d1 h1 {
    font-family: Calibri;
    font-size: 60px;
}

.container .d1 p {
    font-family: Calibri;
    font-size: 25px;
}

.container .d1 button {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 17px;
    border: none;
}
.container .d1 button:hover {
    background-color: rgb(200, 200, 150);
    color: black;
    box-shadow: 0px 0px 5px 5px rgb(50, 60, 70);
}

.container .d2 {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: right;
    padding: 100px;
}

.container .d2 div {
    border: 3px solid blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    margin: 10px 0 0 10px;
}

.container .d2 div img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}
